/* src/components/Header.css */

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

.logo {
    width: 250px; /* Tamanho padrão */
    padding: 5px; /* Adicionar padding de 5 pixels */
  }
  
  @media (max-width: 600px) {
    .logo-mobile {
      width: 150px; /* Tamanho menor para dispositivos móveis */
    }
  }

  /* src/components/Header.css */

/* src/components/Header.css */

.header-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-links li {
  display: inline-block;
  margin-right: 10px; /* Reduzindo a margem entre os links */
}

.header-links li:last-child {
  margin-right: 0;
}

.header-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold; /* Deixando o texto mais grosso */
  padding: 5px 10px; /* Ajustando o padding dos links */
  border-radius: 5px; /* Deixando os links mais quadrados */
}

.logo {
  margin-right: auto; /* Move a logo para a esquerda o máximo possível */
  margin-left: 10px; /* Adiciona um espaçamento à esquerda da logo */
}

  